<div id="board-page">
	<div class="d-flex justify-content-center align-items-center">
		<div id="board"></div>
		<div id="game-info" class="mx-2">
			<div class="card">
				<div class="text-center">
					<div id="oponent" class="py-1 px-3 bg-light"></div>
					<div id="result-details" class="py-4">
						<div id="result">White to move</div> 
					</div>
					<div class="d-flex justify-content-center pb-4">
						<button id="resign" class="col-3 mx-2 btn btn-danger btn-sm">Resign</button>
						<button id="back" class="col-3 mx-2 btn btn-secondary btn-sm" disabled>Back</button>
					</div>
					<div id="user" class="py-1 px-3 bg-light"></div>
				</div>
			</div>
		</div>
	</div>
</div>
