<div id="home-page">
	<h2 class="text-center">Welome <span class="text-secondary" id="title-name"><span></h2>
	<table class="table mt-4 table-hover">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">ID</th>
			</tr>
		</thead>
		<tbody id="active-users">
		</tbody>
	</table>
	<small style="font-size: 12px;">*Click to invite</small>
</div>
