body {
	font-family: 'Roboto', sans-serif;
    background-color: #edebe9;
	margin: 0;
	padding: 0;
}
#board {
    width: 824px;
	border: none;
}

#board .board-b72b1{
	border:none;
}

.h-100 {
	height: 100vh;
}
